.slider__container {
  width: 100%;
  height: 40rem;
  position: relative;
  overflow: hidden;
}

.slider-btn {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.ri-arrow-left-s-line {
  left: 0;
}

.ri-arrow-right-s-line {
  right: 0;
}

.slider__wrapper {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  transition: all 0.5s ease;
}

.slider__wrapper::-webkit-scrollbar {
  display: none;
}
