@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

:root {
  --color-primary: #e7bb41;
  --color-primary-hover: #fad15f;
  --color-secondary: #44bba4;
  --color-tertiary: #393e41;
  --background-color01: #d3d0cb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: var(--color-tertiary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  /* padding: 0 2rem; */
  overflow: hidden;
}
